body
{
    min-height: 125vh;  /* vh = viewport height */
    background-image: linear-gradient(transparent, rgb(12.2, 17.6, 45.9) 55%), url(Images/bgPanda.png);   /*permet d'appliquer un dégradé à une image de background vers une couleur transparante*/
    background-repeat: no-repeat;
    background-color: rgb(12.2, 17.6, 45.9);
}

h1
{
    color:skyblue;
}

p{
    color: white;
    font-size: 20px;
}

a:link
{
    color: aquamarine;
}

a:hover
{
    color: mediumturquoise;
}

a:visited
{
    color: fuchsia;
}

/* //////////////////////////// Banner Zone ////////////////////////// */
/*
.banner
{
    position: absolute;
    z-index: 5;
    left: 100px;
    top: 250px;
}

.banner .social-networks
{
    position: relative;
    left: 120px;
    top: 10px;
}


.banner .social-networks a + a  
{
    margin-left: 35px;
}
*/

/* ////////// Biography //////////////////   */

/*
.about-me
{
    position: absolute;
    z-index: 5;
    left: 480px;
    top: 650px;
    padding: 50px ;
    border: thick double white;
}
*/


/*  ///////////TAB /////// */
.tab{
    overflow: hidden;
    border: 1px solid rgb(0, 4, 255);
    background-color: rgba(39, 39, 201, 0.692);
}

.tab button{
    background-color: inherit;
    font-size: 20px;
    color: skyblue;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover{
    background-color: rgb(60, 167, 255);
}

.tab button.active{
    background-color: rgb(0, 4, 255);
}

.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(0, 4, 255);
    border-top: none;
}
